# Binary outputs
bin/
target/
*.class
*.jar
*.war

# Temporary files
*.tmp
*.bak
.cache-main

# Logs
*.log

# IDE files
.settings/
.classpath
.project
/manifest.mf

# Program output
*.listing
*.tokens
*.locations

# Program input
*.pas
